@import "@fontsource/public-sans/400.css";
@import "@fontsource/public-sans/700.css";
@import "@fontsource/public-sans/800.css";
@import "tailwindcss";
@source "./**/*.{ts,tsx}";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
    font-family: "Public Sans", system-ui, sans-serif;
  }
}
