@import "tailwindcss";
@source "./**/*.{ts,tsx}";

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/public-sans-latin-400-normal.woff2") format("woff2"),
    url("/public-sans-latin-400-normal.woff") format("woff");
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("/public-sans-latin-700-normal.woff2") format("woff2"),
    url("/public-sans-latin-700-normal.woff") format("woff");
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("/public-sans-latin-800-normal.woff2") format("woff2"),
    url("/public-sans-latin-800-normal.woff") format("woff");
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
    font-family: "Public Sans", system-ui, sans-serif;
  }
}
